{% extends 'base-prod.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="content-wrapper">
            <div class="item-container">
                <div class="container">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="{% static 'css/freeze/img/freeze/screens/profile.jpg' %}" alt="">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="">
                            <h1 style="padding-bottom: 5px">DeepScrub, {{ sponge.type }} {{ sponge.color }}</h1>


                            <p>The textured material softens and smoothes surface skin,
                                as the sponge reaches deep into the pores to remove dirt, oil and dead skin.
                                </br>After washing, it will leave your skin looking and feeling softer, smoother and refreshed,
                                with the unmistakable shine of a really deep clean</p>
                        </div>
                        <div class="divider-default"></div>
                        <div class="pull-right">
                        <h2>{{ sponge.price }}</h2>
                        <button class="btn btn-primary btn-lg">Buy Now</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}